.is--for-large {
    @include breakpoint(small-only) {
        display: none;
    }

    @include breakpoint(medium-only) {
        display: none;
    }
}

.is--for-medium {
    @include breakpoint(small-only) {
        display: none;
    }
}

.is--for-small {
    @include breakpoint(medium-up) {
        display: none;
    }
}

.bg-color-light {
    background: $color-light;
}

.img-full-width {
    width: 100%;

    img {
        max-width: 100%;
    }
}

.is--no-scroll {
    position: relative;
    overflow: hidden;
}
