// Not everything is loaded from roolith, only loaded things we need see _roolith.scss
// see roolith-settings for roolith related settings
@import "roolith";

@import "settings";

@import "../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";
@import "../../node_modules/swiper/dist/css/swiper.css";

@import "mixin";
@import "base";
@import "typography";
@import "./modules/button";
@import "./modules/form";
@import "./modules/logo";
@import "./modules/nav";
@import "./modules/search";
@import "./modules/content-primary";
@import "./modules/content-card";
@import "./modules/content-multi";
@import "./modules/header";
@import "./modules/footer";
@import "./modules/icon";
@import "./modules/hero";
@import "./modules/fancy-img";
@import "./modules/partner";
@import "./modules/inner-header";
@import "./modules/content-img";
@import "./modules/article";
@import "./modules/card";
@import "./modules/meta";
@import "./modules/slider";
@import "./modules/content-text";
@import "./modules/content-icon";
@import "./modules/avatar";
@import "./modules/item";
@import "./modules/blog";

@import "./state";

// For demo
.module {
    padding: 20px;
    background: #ddd;
}

.module__body {
    padding: 20px;
}

.module__body__alternate {
    padding: 0;
}
