.avatars {
    display: flex;
    flex-wrap: wrap;


    @include breakpoint(medium-up) {
        justify-content: flex-start;
    }

    @include breakpoint(large-up) {
        justify-content: space-around;
    }
}

.avatar {
    width: calc(100vw - 40px);
    height: rem(220);
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: $color-black;
    background-size: cover;
    margin-bottom: rem(102);

    @include breakpoint(medium-up) {
        width: rem(344);
        margin: 0 rem(20) rem(102) 0;
    }

    @include breakpoint(large-up) {
        margin: 0 0 rem(102);
        width: rem(275);
    }
}

.avatar__caption {
    background-color: $color-primary;
    color: $color-white;
    padding: rem(17) rem(20);
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    @include transition('background');

    .avatar:hover & {
        background-color: $color-black;
    }
}

.avatar__hl {
    display: block;
    @extend .h6;
}

.avatar__text {
    display: block;
    @extend .text__secondary;
}

.avatar__link {
    width: 100%;

    @include breakpoint(medium-up) {
        width: auto;
    }

    &:after {
        content: none;
    }
}

.avatar__header__hl {
    padding: 0 0 rem(40);
}

.avatar__container {
    padding: rem(40) 0 0;

    @include breakpoint(large-up) {
        padding: rem(70) 0 0;
    }
}

.avatar__single {
    padding-top: rem(30);

    @include breakpoint(large-up) {
        float: right;
        padding-top: rem(85);
    }
}

.avatar__single__social__list {
    padding-top: rem(10);
    display: flex;

    .icon {
        width: rem(24);
    }

    li {
        padding-right: rem(5);

        &:last-child {
            padding-right: 0;
        }
    }

    a {
        &:after {
            content: none;
        }
    }
}
