.blog {
    padding-top: rem(40);

    @include breakpoint(large-up) {
        padding-top: rem(70);
    }
}

.blog__header {
    padding-bottom: rem(30);
}

.blog__header__hl {
    padding: rem(15) 0 0;

    a:after {
        content: none;
    }
}

.blog__header__date {
    @extend .text__small;
    color: $color-secondary;
}

.blog__header__meta {
    padding-top: rem(15);
    @extend .text__small;

    a:after {
        content: none;
    }
}

.blog__content__fig {
    margin-bottom: rem(30);

    img {
        max-width: 100%;
        border-radius: $global-border-radius;
    }
}

.blog__content__text {
    @extend .text__secondary;
}

.blog__content__link {
    @extend .text__secondary;
    margin-top: rem(30);
}

.blog__nav {
    @include clearfix();
    padding: rem(70) 0;

    @include breakpoint(large-up) {
        padding: rem(140) 0;
    }
}

.blog__nav__primary {
    float: left;
}

.blog__nav__secondary {
    float: right;
}

.blog__aside__nav {
    @extend .nav__footer;
    background: $color-light;
    padding: rem(30);
    border-radius: $global-border-radius;
    margin-bottom: rem(20);

    @include breakpoint(large-up) {
        margin-top: rem(100);
    }

    ul {

        li {

            a {
                font-size: rem(14);
                line-height: rem(22);
            }
        }
    }
}
