.card {
    padding-bottom: rem(33);
    @include clearfix();

    @include breakpoint(large-up) {
        padding-bottom: rem(53);
    }
}

.card__fig {
    position: relative;
    border-radius: $global-border-radius;
    overflow: hidden;
    display: block;

    img {
        max-width: 100%;
        border-radius: $global-border-radius;
        float: left;
    }

    &:before {
        width: 100%;
        height: 100%;
        background-color: rgba($color-primary, 0.7);
        background-image: url('../../src/images/new-link.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        clear: both;
        opacity: 0;
        @include transition('opacity');
    }

    &:hover:before {
        opacity: 1;
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }
}

.card__hl {
    padding: rem(23) 0 rem(10);

    a {
        &:after {
            display: none;
        }
    }
}

.card__text {
    @extend .text__secondary;
}

.card__link {
    display: block;

    &:after {
        display: none;
    }
}

.card__container {
    background: $color-light;
    padding: rem(35) 0 0;

    @include breakpoint(large-up) {
        padding: rem(65) 0 rem(30);
    }
}

.card__container__hl {
    padding-bottom: rem(30);
    float: left;

    @include breakpoint(large-up) {
        padding-bottom: rem(40);
    }
}

.card__container__link {
    float: right;
    margin-top: rem(12);
    @extend .text__secondary;

    &.is--for-small {
        margin-bottom: rem(30);
        float: none;
    }
}
