.inner__header__primary {
    position: relative;
}

.inner__header__primary__img {
    @include overlay();
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: rem(600);
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.inner__header__primary__content {
    position: relative;
}

// .inner__header__primary__breadcrumb {
//     position: relative;
// }

// .inner__header__primary__text {
//     position: relative;
// }