$content-card-item-height: 203;

.content__card {
    padding: rem(32) 0 rem(20);

    @include breakpoint(large-up) {
        padding: rem(62) 0 rem(50);
    }
}

.content__card__header {
    @include clearfix();
}

.content__card__hl {
    float: left;
    padding-bottom: rem(30);
}

.content__card__hl__link {
    @extend .button__link;
    float: right;
    margin-top: rem(5);
    width: auto;
}

.content__card__item {
    display: inline-block;
    margin-bottom: rem(20);
    border-radius: $global-border-radius;
    overflow: hidden;
    height: rem($content-card-item-height);
    background: #ddd;
    width: 100%;
    position: relative;

    &:after {
        display: none;
    }

    &:hover .content__card__item__fig {
        animation: scaleImage 20s infinite;
    }
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

.content__card__item--large {
    height: rem(($content-card-item-height * 2) + 22);
}

.content__card__item__body {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-light-grey;
    padding: rem(18) rem(20);

    .content__card__item--large & {
        @include breakpoint(large-up) {
            padding: rem(27) rem(30);
        }
    }
}

.content__card__item__hl {
    padding-top: rem(5);

    .content__card__item--large & {
        @extend .h5;
    }
}

.content__card__item__meta {
    font-size: rem(12);
    line-height: rem(18);
}

.content__card__item__fig {
    position: relative;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:after {
        content: "";
        display: block;
        background: $color-black;
        background: linear-gradient(180deg, rgba($color-black,0) 0%, rgba($color-black,0) 0%, rgba($color-black,1) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
}

a.content__card__item {
    &:hover {
        .content__card__item__fig:after {
            background: linear-gradient(180deg, rgba($color-primary,0) 0%, rgba($color-primary,0) 0%, rgba($color-primary,1) 100%);
        }
    }
}
