.content__primary {
    padding: rem(35) 0 rem(40);

    @include breakpoint(large-up) {
        padding: rem(65) 0 rem(70);
    }

    &.theme--dark {
        background-color: $color-primary;
    }
}

.content__primary__hl {
    padding-bottom: rem(15);
}

.content__primary__subhl {
    @extend .h6__native;
    color: $color-secondary;
    padding-bottom: rem(13);
}

.content__primary__text {
    padding-bottom: rem(50);
    @extend .text__large;
}

