.footer {
    padding: rem(40) 0;

    &.theme--dark {
        background: $color-primary;
    }

    @include breakpoint(large-up) {
        padding: rem(70) 0;
    }
}

.footer__claim {
    padding-top: rem(30);

    @include breakpoint(large-up) {
        padding-top: rem(70);
    }
}

.footer__back-to-top {
    @extend .text__secondary;
    width: rem(32);
    margin-top: rem(30);
    position: absolute;
    right: 0;
    top: 0;

    @include breakpoint(large-up) {
        margin-top: 0;
    }

    svg {
        fill: $color-secondary;
        @include transition('fill');
    }

    &:hover {
        svg {
            fill: $color-primary;
        }
    }

    &:after {
        display: none;
    }

    .theme--dark &:hover svg {
        fill: $color-light;
    }
}

.footer__logo {
    width: rem(120);
}

.footer__social__list {
    padding-top: rem(30);

    @include breakpoint(large-up) {
        float: right;
        padding-top: rem(70);
    }

    li {
        float: left;
        padding-left: rem(8);

        &:first-child {
            padding-left: 0;
        }

        svg {
            fill: $color-secondary;
            @include transition('fill');
        }

        .theme--dark & svg {
            fill: $color-secondary;
        }

        &:hover {
            svg {
                fill: $color-primary;
            }
        }

        .theme--dark &:hover svg {
            fill: $color-light;
        }
    }

    a {
        &:after {
            display: none;
        }
    }

    .icon {
        width: rem(24);
    }
}
