.footer {
    padding: rem(40) 0;

    @include breakpoint(large-up) {
        padding: rem(70) 0;
    }
}

.footer__claim {
    padding-top: rem(30);

    @include breakpoint(large-up) {
        padding-top: rem(70);
    }
}

.footer__back-to-top {
    @extend .text__secondary;
    width: rem(32);
    margin-top: rem(30);

    @include breakpoint(large-up) {
        margin-top: 0;
    }

    svg {
        fill: $color-secondary;
        @include transition('fill');
    }

    &:hover {
        svg {
            fill: $color-primary;
        }
    }

    &:after {
        display: none;
    }
}
