.general {
    .article {
        padding: 0;
    }

    padding: rem(40) 0;

    @include breakpoint(large-up) {
        padding: rem(80) 0;
    }
}

.general__aside {
    padding-top: rem(60);

    @include breakpoint(large-up) {
        padding-top: 0;
    }
}

.general__aside__hl {
    padding-bottom: rem(30);
}

.general__aside__social {

    ul {
        padding-top: rem(10);

        li {
            padding-bottom: rem(5);
        }

        .icon {
            float: left;
            margin-right: rem(5);
            width: rem(24);
            position: relative;
            top: rem(-3);
        }

        a {
            font-size: rem(14);

            &:after {
                content: none;
            }
        }
    }
}
