$hero-size: rem(700);
$hero-spacing: rem(70);

$hero-size-small: rem(550);
$hero-spacing-small: rem(30);

$hero-size-medium: rem(400);
$hero-spacing-medium: rem(30);

.hero {
    position: relative;
    height: $hero-size-small;

    @include breakpoint(medium-up) {
        height: $hero-size-medium;
    }

    @include breakpoint(large-up) {
        height: $hero-size;
    }
}

.hero__img {
    @include overlay();

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.hero__body {
    position: relative;
    z-index: 1;
    padding: $hero-spacing-small 0;

    @include breakpoint(large-up) {
        padding: $hero-spacing 0;
    }
}

.hero__body__content {
    height: $hero-size-small - ($hero-spacing-small * 2);
    display: flex;
    align-items: center;

    @include breakpoint(medium-up) {
        height: $hero-size-medium - ($hero-spacing-medium * 2);
    }

    @include breakpoint(large-up) {
        height: $hero-size - ($hero-spacing * 2);
    }
}

.hero__subhl {
    @extend .h6__native;
    color: $color-primary;
    padding-bottom: rem(14);
}

.hero__hl {
    padding-bottom: rem(55);
}

.hero__main__img {
    margin-left: rem(-79);
    height: $hero-size - ($hero-spacing * 2);
    display: none;
    align-items: center;
    justify-content: center;

    @include breakpoint(large-up) {
        display: flex;
    }
}
