.inner__header {
    background: $color-light;
    padding: rem(14) 0 rem(28);

    @include breakpoint(large-up) {
        padding: rem(14) 0 rem(48);
    }
}

.inner__header__content {
    .inner__header--has__image & {
        position: relative;
        z-index: 2;
        height: rem(300);
        margin-top: rem(-14);
        padding-top: rem(14);
        margin-bottom: rem(-28);
        padding-bottom: rem(28);

        @include breakpoint(medium-up) {
            height: rem(400);
        }

        @include breakpoint(large-up) {
            height: rem(500);
            margin-bottom: rem(-48);
            padding-bottom: rem(48);
        }
    }
}

.inner__header__breadcrumb {
    position: relative;
    z-index: 1;
    color: $color-secondary;

    .inner__header--has__image & {
        color: $color-white;
    }

    .inner__header--white & {
        color: $color-black;
    }

    a {
        color: $color-secondary;

        .inner__header--has__image & {
            color: $color-white;
        }

        .inner__header--white & {
            color: $color-black;
        }

        &:hover {
            color: $color-primary;
        }

        &:after {
            display: none;
        }
    }
}

.inner__header__hl {
    padding-top: rem(44);

    .inner__header--has__image & {
        position: relative;
        z-index: 2;
        color: $color-white;
        padding-top: rem(4);
    }

    .inner__header--white & {
        color: $color-black;
    }
}

.inner__header__text {
    @extend .text__primary;
    padding-top: rem(10);

    @include breakpoint(large-up) {
        max-width: 70%;
    }
}

.inner__header--has__image {
    position: relative;
    z-index: 1;
}

.inner__header__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($color-primary, 0.7);
    }

    .inner__header--dark &:before {
        background: rgba($color-black, 0.7);
    }

    .inner__header--white &:before {
        background: rgba($color-white, 0.7);
    }
}

.inner__header__content__area {
    .inner__header--has__image & {
        position: absolute;
        z-index: 2;
        left: 0;
        bottom: rem(50);
    }
}

.inner__header__content__box {
    width: rem(70);
    height: rem(70);
    background: $color-primary;
    position: absolute;
    left: rem(170);
    bottom: rem(30);
    z-index: 1;

    @include breakpoint(large-up) {
        width: rem(150);
        height: rem(150);
    }

    &:after {
        content: "";
        display: block;
        background: $color-primary;
        position: absolute;
        right: 0;
        top: 0;
        width: rem(25);
        height: rem(25);
        margin-top: rem(-25);
        margin-right: rem(-25);

        @include breakpoint(large-up) {
            width: rem(50);
            height: rem(50);
            margin-top: rem(-50);
            margin-right: rem(-50);
        }
    }

    .inner__header--dark &:after,
    .inner__header--dark & {
        background: $color-black;
    }

    .inner__header--white &:after,
    .inner__header--white & {
        background: $color-white;
    }
}
