.nav__wrapper {
    @include clearfix();

    .nav {
        float: left;
    }

    .nav__search {
        float: left;
    }
}

.nav-link {
    font-weight: $font-weight-bold;
    letter-spacing: rem(-0.5);

    &:after {
        display: none;
    }

    &:hover {
        color: $color-secondary;
    }
}

.theme--dark {
    .nav-link {
        color: $color-white;

        &:hover {
            color: $color-secondary;
        }
    }
}

.nav {
    li {
        @extend .nav-item;

        a {
            @extend .nav-link;
        }
    }
}

.nav__search {
    position: relative;
    top: rem(-4);
    margin-left: rem(10);
}

.nav__footer {
    ul {

        li {
            padding-bottom: rem(8);

            &:last-child {
                padding-bottom: 0;
            }

            a {
                font-size: rem(14);
                line-height: rem(22);

                &:after {
                    display: none;
                }
            }
        }
    }
}

.nav__footer__hl {
    color: $color-secondary;
    padding-bottom: rem(17);
}
