.nav__wrapper {
    @include clearfix();

    .nav {
        width: 100%;
        float: none;

        @include breakpoint(large-up) {
            width: auto;
            float: left;
        }
    }

    .nav__search {
        margin-top: rem(15);

        @include breakpoint(large-up) {
            margin-top: 0;
            float: left;
        }
    }
}

.nav-item {
    float: none;

    @include breakpoint(large-up) {
        float: left;
    }
}

.nav-link {
    font-weight: $font-weight-bold;
    letter-spacing: rem(-0.5);
    text-align: center;

    @include breakpoint(large-up) {
        text-align: left;
    }

    &:after {
        display: none;
    }

    &:hover {
        color: $color-secondary;
    }
}

.theme--dark {
    .nav-link {
        color: $color-white;

        &:hover {
            color: $color-secondary;
        }
    }
}

.nav {
    margin-left: 0;
    max-height: 78vh;
    overflow: auto;

    @include breakpoint(large-up) {
        max-height: none;
        overflow: visible;
    }

    .header--compact & {
        max-height: 80vh;

        @include breakpoint(large-up) {
            max-height: none;
        }
    }

    a:after {
        content: none;
    }

    > li {
        @extend .nav-item;
        position: relative;

        > a {
            @extend .nav-link;
        }

        > ul {
            display: block;
            padding: rem(18) rem(30);

            @include breakpoint(large-up) {
                display: none;
                position: absolute;
                background: $color-primary;
                border-radius: $global-border-radius;
                z-index: 5;
                left: 50%;
                top: rem(50);
                transform: translateX(-50%);
                box-shadow: 0 rem(4) rem(4) 0 rgba($color-black, 0.2);
            }

            .header--compact & {
                top: rem(40);
                left: rem(-15);
                transform: translateX(0%);
            }

            &:before {
                content: "";
                display: none;
                width: 0;
                height: 0;
                border-left: rem(10) solid transparent;
                border-right: rem(10) solid transparent;
                border-bottom: rem(10) solid $color-primary;
                position: absolute;
                left: 50%;
                top: 0;
                z-index: 2;
                transform: translate(-50%, -100%);

                @include breakpoint(large-up) {
                    display: block;
                }
            }

            li {
                border-bottom: rem(1) solid rgba($color-secondary, 0.2);

                &:last-child {
                    border-bottom: none;
                }
            }

            a {
                white-space: nowrap;
                color: $color-primary;
                padding: rem(12) 0;
                font-size: rem(14);

                .theme--dark & {
                    color: $color-white;
                }

                @include breakpoint(large-up) {
                    color: $color-white;
                }

                &:hover {
                    color: $color-secondary;
                }
            }

            ul {
                padding-left: rem(20);
            }
        }

        &:hover ul,
        &.on-hover ul {
            display: block;
        }
    }
}

.nav__search {
    position: relative;

    @include breakpoint(large-up) {
        top: rem(-4);
        margin-left: rem(10);
    }
}

.nav__footer {
    position: relative;

    ul {

        li {
            padding-bottom: rem(10);

            &:last-child {
                padding-bottom: 0;
            }

            a {
                font-size: rem(12);
                line-height: rem(20);

                &:after {
                    display: none;
                }
            }
        }
    }

    .icon {
        position: relative;
        top: rem(4);

        svg {
            fill: $color-primary;
        }
    }
}

.theme--dark .nav__footer ul li a {
    color: $color-light;

    &:hover {
        color: $color-secondary;
    }
}

.nav__footer__hl {
    color: $color-secondary;
    padding-bottom: rem(17);
    padding-top: rem(30);

    @include breakpoint(large-up) {
        padding-top: 0;
    }
}
