* {
  box-sizing: border-box;
}

.news__card {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.news__card__img {
  width: 100%;
}

.news__card .news__card__content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: rem(20);
}