.search-form {
    position: relative;
    display: inline-block;
    width: rem(200);
}

.screen-reader-text {
    display: none;
}

.search-field {
    @extend .form__input;
    border-radius: rem(25);
    padding: rem(6) rem(35) rem(6) rem(15);
    border-color: $color-primary;
    color: $color-primary;

    &::placeholder {
        color: $color-secondary;
    }
}

.search-submit {
    position: absolute;
    top: rem(3);
    right: rem(3);
    border: none;
    background: $color-primary;
    border-radius: 50%;
    width: rem(29);
    height: rem(29);
    @include transition('background');

    svg {
        width: 100%;
        fill: $color-white;
    }

    &:hover {
        background: lighten($color-primary, 15%);
        cursor: pointer;
    }
}
