.spacer-150 {
    height: rem(50);

    @include breakpoint(large-up) {
        height: rem(150);
    }
}

.spacer-100 {
    height: rem(30);

    @include breakpoint(large-up) {
        height: rem(100);
    }
}

.spacer-50 {
    height: rem(50);
}
